*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    border: 3px solid black;
    height:640px;
    flex-direction: column;
    justify-content: space-between;
}

header{
    display: flex;
    background-color: rgb(43, 226, 64);
    height: 10%;
    justify-content: center;
    align-items: center;
}

.principal{
    display: flex;
    height: 80%;
}

aside{
    display:flex;
    background-color: rgb(72, 231, 231);
    width: 20%;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    background-color: rgb(223, 83, 83);
    width: 80%;
    justify-content: center;
    align-items: center;
}

footer{
    display: flex;
    background-color: bisque;
    height: 10%;
    justify-content: center;
    align-items: center;
}

